{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="https://cdn.imgbin.com/13/1/19/imgbin-herpes-simplex-virus-vaccine-virus-amplifying-mycoplasma-dvmTwWQW9eHsFAZVFgBTq2xX8.jpg">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}"> 
{% endblock %}

{% block body %}
<div class="navbar">
  <img src="https://images.shiksha.com/mediadata/images/1571723750phpFX45hp.png " height="43" width="75" style="position: relative; float:unset;"> 
    <a class="active" href='./'>Home</a>
    <div class="dropdown">
      <button class="dropbtn">About
      </button>
      <div class="dropdown-content">
        <p class="about">This is a software which gives you update on the pandemic COVID-19<br>
          <br>This gives you total count,state by state analysis,and graphical representation about the same.
          <br><br>This is developed by Aman and Apurva of 4th Sem under the guidance of our Mentor Mrs.Sherly Noel under the Computer Science Department.
      </p>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Contact </button>
      <div class="dropdown-content">
        <p class="about">For any queries please contact the developers Aman and Apurva<br>
          <br>Email id:<a id="kj" href="https://gmail.com" target="_blank">apku18cs@cmrit.ac.in</a>  and  <a id="kj" href="https://gmail.com" target="_blank">amak18cs@cmrit.ac.in</a>
      </p>
      </div>
    </div> 
  </div>
  <p>
    {% if result != None %}

    <img src="{{ user_image }}" width="1000" class="center" style="opacity:0.95;filter:alpha(opacity=70);">
    <style>
        .center {
             display: block;
             margin-left: auto;
             margin-right: auto;
             width: 90%;
        }   
    </style>
    {% endif %}
    </p>

{% endblock %}